/.vscode
/wp-admin
/wp-includes
/wp-content/themes/twentytwentyfive
/wp-content/themes/twentytwentyfour
/wp-content/themes/twentytwentythree
/wp-content/themes/index.php
/wp-content/plugins/index.php
/wp-content/plugins/hello.php
/wp-content/plugins/akismet
/wp-content/plugins/generateblocks
/wp-content/plugins/create-block-theme
/database